font-family: Arial,
sans-serif;
margin: 0;
padding: 0;
}

header {
    text-align: center;
    padding: 20px;
    background-color: yellowgreen;
}

.hero {
    position: relative;
    text-align: center;
    color: white;
}

.hero img {
    width: 100%;
    height: auto;
}

.hero p {
    position: absolute;

    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: 10px;
    color: white;
    width: 80%;
}

.tabs {
    display: flex;
    justify-content: space-around;
    background-color: #ffeeba;
    padding: 10px 0;
}

.tabs a {
    text-decoration: none;
    color: #000;
    font-weight: bold;
}

main {
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 20px;

    padding: 20px;
}

.content {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
}

.content article {
    background-color: #fff8dc;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 10px;
}

.content article img {
    width: 100%;
    border-radius: 10px;
}

.sidebar {
    background-color: #f8f8f8;
    padding: 20px;
    border-radius: 10px;
    border: 1px solid #ccc;
}

.sidebar h3 {
    margin-top: 0;
}

footer {
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: #333;
    color: white;
}